---

import './style.css';

---

<dialog id="overlay-search-dialog">
  <div class="dialog-body"> 
    <div class="search-controls">

      <div class="composite-input">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
        </svg>
        <input placeholder="Search" autofocus class="query">
        <button class="clear-query">
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
          </svg>
        </button>
      </div>

    </div>
    <div class="search-results">
      <!-- ... -->
    </div>
    <div class="dialog-footer">

      <!-- FIXME: parameterize for i18n -->
      Press <kbd>Esc</kbd> to close
      
    </div>
  </div>

  <!-- template for group header -->
  <template class="result-group-header-template">
    <div class="result-group-header" data-target="result-group-header" />
  </template> 

  <!-- template for search results -->
  <template class="result-template">
    <button class="search-result" data-target="result">
      <div class="title" data-target="title"/>
      <div class="description" data-target="description"/>
    </button>
  </template>

</dialog>