---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, Astronaut!</h1>
      <p>
        This is an example site for <code>astro-collection-search</code>. We took 
        the default Astro blog template and added the search integration:
      </p>
      <code>
        npx astro add astro-collection-search
      </code>
      <p>
        Then we added a few hundred article summaries from Wikipedia to fill out
        some content. Try the <a href='/astro-collection-search/search'>search page</a> to see how it works.
      </p>
      <p>
        See the <a href="https://github.com/trebco/astro-collection-search">github repo</a> for more information.
      </p>
		</main>
		<Footer />
	</body>
</html>
